body{
    background-color: #3B3F40;
}

#container {
    background-color: rgb(131, 101, 101);
    width: 950px;
margin: 20px auto;
border: 4px solid brown;
padding: 20px;
border-radius: 20px;
}

header {
    text-align: center;
    padding: 50px;
}

header h1 {
    color: black;
    font size: 30px;
}

nav {
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding: 20px;
}
nav a {
    color: black;
    font-size: 30px;
    margin: 0 20px;
}

nav a:hover {
    color: aliceblue;
    text-decoration: none;
}
main h2 {
    color: black;
    text-align: center;
}
main img {
    display: block;
    margin: 20px auto;
    width: 600px;
    border-radius: 20px;
}

footer {
 padding: 40px 0;
 text-align: center;
  border-top: 4px solid black;
}
