/*Global Styles */
body {
    background-color: gray;
}
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
a {
    color: black;
}

a:hover {
    text-decoration: none;
}


/* Mobile Styles */


#container {
    padding: 10px;
    border: 4px solid black;
}

nav {
    text-align: center;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: blanchedalmond;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    margin: 10px;
}

nav li a:hover {
    background-color: black;
}
main {
    padding: 10px;
    margin: 10px;
}

.main_content {
    padding: 10px;
}

.col {
    margin: 10px 0;
}

.col_img {
    border-radius: 10px;
    border: 2px solid black;
}
footer {
    padding: 40px;
    text-align: center;
}

/* Tablet Styles */
@media (min-width: 768px) {
    nav {
        margin-top: 10px;
        border: 4px solid black;
        padding: 10px;
    }
    
    nav li {
        display: inline;
    }

nav li a {
    display: inline-block;
height: 40px;
    width: 150px;
}

.col img {
    width: 65%;
}
}

/* Desktop Styles */
@media (min-width: 1024px) {
#container {
    width: 65%;
    margin: 20px auto;
    background-color: gray;
}
 .gallery {
    display: flex;
 }

 .col {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
 }
 .col img {
width: 100%;
 }
}
