body {
   background-color: darkred;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
a {
color: #D91A1A;
}
a:hover {
  color: darkred;
    text-decoration: none;
}
#container {
  background-color: #3B3F40;
    width: 65%;
    margin: 20px auto;
    border:4px solid #D91A1A;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 40px;
   border-bottom: darkred;
}
header h1 {
    font-size: 50px;
   color: darkred;
}

nav {
    text-align: center;
   border-bottom: darkred;
}
nav ul {
    list-style-type: none;
    padding: 0;
   
}

nav li {
display: inline-block;
}

nav li a {
    display: block;
   background-color: white;
    color: #3B3F40;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
border: 2px solid darkred;
}

nav li a:hover {
    color: #3B3F40;
    background-color: darkred;
}

main h2 {
    text-align: center;
    color: #3B3F40;
}

.multi_col {
    display: flex;
}
section, aside {
    border-radius: 10px;
border: 2px solid darkred;
margin: 20px;
padding: 20px;
}
section {
    width: 75%;
}
aside {
    width: 25%;
}
section img {
    border-radius: 10px;
    border: 2px solid darkred;
    width: 75%;
}

footer {
    padding: 40px;
    text-align: center;
}
.img_style {
    display: block;
    
    width: 75%;
    border-radius: 10px;
    border: 2px solid darkred;
    box-shadow: 2px 2px 5px darkred;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    border: 2px solid darkred;
}